<mat-toolbar color="primary">
  <a routerLink="/" class="logo">{{ title() }}</a>
  <span class="spacer"></span>
  
  @if (isAuthenticated()) {
    <button mat-icon-button routerLink="/feed">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  } @else {
    <button mat-raised-button color="accent" routerLink="/auth/login">
      Login
    </button>
  }
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
